<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thisteampl.jackpot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application
        android:name=".common.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jackpot"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <service
            android:name="com.thisteampl.jackpot.main.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <activity android:name=".main.floating.ProjectCreation" />
        <activity android:name=".main.viewmore.RecentlyProjectViewMore" />
        <activity android:name=".main.userpage.MyPage" />
        <activity android:name=".main.userpage.ProfileActivity" />
        <activity android:name=".main.filtering.FilteringSearch"/>
        <activity android:name=".main.userpage.ProfileEditActivity" />
        <activity android:name=".main.projectdetail.ProjectViewDetail" />
        <activity android:name=".main.LoginActivity">

        </activity>
        <activity android:name=".main.SignUpActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoad84bb483482dd2c398ebc6794b65db9" />
            </intent-filter>
        </activity>

        <service
            android:name=".main.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>